@model IEnumerable<Mission06_Fisher.Models.Movie>

@{
    ViewBag.Title = "Movie Collection";
    Layout = "_Layout";
}

<h2>The Joel Hilton Film Collection</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add Movie</a>
</p>

<table class="table table-bordered">
    <thead class="fw-bold">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Edited</th>
        <th>Copied To Plex</th>
        <th>Notes</th>
        <th></th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Year</td>
            <td>@movie.Edited</td>
            <td>@movie.CopiedToPlex</td>
            <td>@movie.Notes</td>
            <td>
                <a class="btn btn-light" asp-action="Edit" asp-route-id="@movie.MovieId">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@movie.MovieId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>